<h1 style="margin-bottom : 30px;">Liste des Equipes</h1>
<!-- <a href="<%= new_equipe_path %>" class="btn btn-success" style="margin: 23px 0 0 15px;">Fonder une équipe</a> -->

<div class="row">
  <% @equipes.each do |equipe| %>
    <div class="col-lg-3">
      <div class="thumbnail">
        <h2 class="text-center"><%= equipe.name %></h2>
        <a href="<%= equipe_path(equipe.id) %>"><%= image_tag equipe.image.url, :class => "img_equipes" %></a>
        <br>
        <% if user_signed_in? %>
            <!-- <a href="<%= edit_equipe_path(equipe.id) %>" class="btn btn-warning">Modifier</a>
            <a href="<%= equipe_path(equipe.id) %>" class="btn btn-danger" data-confirm="Es-tu sûr de vouloir annuler le contrat du club ?" data-method="DELETE">Annuler contrat</a> -->
        <% end %>
      </div>
    </div>
    <% end %>
</div>