<div class="row">
<div class="col-lg-6">
<h1 style="margin-bottom : 30px;">Liste des Equipes</h1>
<!-- <a href="<%= new_equipe_path %>" class="btn btn-success" style="margin: 23px 0 0 15px;">Fonder une équipe</a> -->
</div>

<div class="col-lg-offset-2 col-lg-4" style="margin-top : 20px;">
  <%= search_form_for @search do |f| %>
    <div style="float:right;"><%= f.submit "Rechercher", :class => 'btn btn-default' %></div>
    <div style="float:right;">
      <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Rechercher une équipe..." %>
    </div>
    
  <% end %>
  </div>
</div>

<div class="row">
  <% @equipes.each do |equipe| %>
    <div class="col-lg-3">
      <div class="thumbnail" style="margin-bottom: 10px;">
        <h2 class="text-center"><%= equipe.name %></h2>
        <a href="<%= equipe_path(equipe.id) %>"><%= image_tag equipe.image.url, :class => "img_equipes" %></a>
        <br>
        <% if user_signed_in? %>
          <p class="text-center">
            <%= link_to 'Défier', defier_joueur_path(equipe.id), :class => 'btn btn-lg btn-success' %>
            
            <!-- <a href="<%= edit_equipe_path(equipe.id) %>" class="btn btn-warning">Modifier</a>
            <a href="<%= equipe_path(equipe.id) %>" class="btn btn-danger" data-confirm="Es-tu sûr de vouloir annuler le contrat du club ?" data-method="DELETE">Annuler contrat</a>  -->
          </p>
        <% end %>
      </div>
    </div>
    <% end %>
</div>

<%= will_paginate @equipes, previous_label: "<", next_label: ">", renderer:BootstrapPagination::Rails %>