<div class="container">
  <h1>Fonder une équipe</h1>
  <p>
    Tu es sur le point de fonder une équipe.<br>Ton club deviendra peut être champion d'Europe, alors renseigne bien le formulaire !
  </p>

  <%= form_for @equipe, html: { multipart: true } do |f| %>

  <div class="form-group">

    <p>
        <label for='nom'>Nom </label>
        <%= f.text_field :name, class: 'form-control', id: 'nom' %>
    </p>

    <label>Pays </label>
        <%= f.text_field :pays, class: 'form-control' %>

    <label>Entraîneur </label>
        <%= f.text_field :entraineur, class: 'form-control' %>

    <label>Stats Générales </label>
        <%= f.text_field :statsgenerale, class: 'form-control' %>

    <label>Logo </label>
      <%= f.file_field :image %>
  	</div>



  	<div class="form-group">
  		<button type="submit" class="btn btn-success">Fonder le club</button>
  	</div>
  <% end %>

</div>