<h1 class="text-center">Fiche de l'équipe <%= @equipe.name %></h1>

<%= image_tag @equipe.image.url, :class => "img_equipes_show"  %>

<p class="text-center"><strong>Pays :</strong> <%= @equipe.pays %> <br>
	<strong>Entraîneur :</strong> <%= @equipe.entraineur %> <br>
	<strong>Statistiques générales :</strong> <%= @equipe.statsgenerale %> <br>
	<strong>Effectif :</strong> <%= @equipe.joueurs.length %> <br>
</p>

<hr>

<h2 class="text-center" style="margin-bottom: 30px;">Liste des joueurs</h2>

<div class="mes-joueurs">
<div class="row">
	<% @equipe.joueurs.each do |joueur| %>
		<div class="col-lg-3" style="margin-top: 40px;">
			<a href="<%= joueur_path(joueur.id) %>" class="img_joueurs"><%= image_tag joueur.image.url %></a>
				<% if user_signed_in? %>
					<!-- <a href="<%= edit_joueur_path(joueur.id) %>" class="btn btn-warning">Editer</a>
					<a href="<%= joueur_path(joueur.id) %>" class="btn btn-danger" data-confirm="Êtes-vous sûr de rompre le contrat de ce joueur ?" data-method="DELETE">Rompre contrat</a> -->
				<% end %>
			</div>
		<% end %>

</div>
</div>

<br>

<p>
	<a href="<%= equipes_path %>" class="btn btn-default">Retour à la liste des équipes</a>
</p>