<!DOCTYPE html>
<html>
  <head>
    <title>Football Evolution Team</title>
    
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="<%= root_path %>" style="font-size: 2.5rem; <%= 'color: orange;' if params[:controller] == 'home' %>"><i class="fa fa-futbol-o fa-1x" aria-hidden="true"></i> FET</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="<%= 'active' if params[:controller] == 'equipes' %>"><a href="<%= equipes_path %>">Equipes</a></li>
	        <li class="<%= 'active' if params[:controller] == 'joueurs' %>"><a href="<%= joueurs_path %>">Joueurs</a></li>
	        <% if user_signed_in? %>
	        <li class="<%= 'active' if params[:controller] == 'equipe_persos' %>"><a href="<%= equipe_persos_path %>">Mon équipe</a></li>
	        <% end %>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<% if user_signed_in? && @equipe_persos.present? %>
		        <li style="margin: 5px 40px 0 0;">
		        	<i class="fa fa-money fa-3x" style="color: green;" aria-hidden="true"></i> <strong style="color:white; font-size: 3rem;"> : <%= @equipe_persos.first.argent %> €</strong>
		        </li>
	        <% end %>

	      	<li>
	        	<div class="dropdown" style="margin-top: 3px;">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dLabel">
				    <% if user_signed_in? %>
				    <li>
				    	Connecté en tant que <%= current_user.email %>
			       	</li>
			       <li>
			       		<%= link_to "Editer mon profil", edit_user_registration_path %>
			       </li>
			       	<li>
			       		<%= link_to "Se deconnecter", destroy_user_session_path, method: :delete %>
			       	</li>
			       <% else %>
			       		<li>
			       			<%= link_to "S'enregistrer",new_user_registration_path %>
			       		</li>
			       		<li>
			       			<%= link_to "Se connecter", new_user_session_path %>
			       		</li>
			       <% end %>
				  </ul>
				</div>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container">

		<% flash.each do |key, value| %>
	        <div class="alert alert-<%= key %>"><%= value %></div>
	    <% end %>
		<br>
    	<%= yield %>
    </div>
  </body>
</html>
