<p id="notice"><%= notice %></p>

<h1>Bienvenue sur l'espace de gestion de ton équipe</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom de l'équipe</th>
      <th>Nom de l'entraîneur</th>
      <th>Effectif</th>
      <th>Pays</th>
      <th>Stats Générales</th>
      <th>Porte-monnaie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipe_persos.each do |equipe_perso| %>
      <tr>
        <td><%= equipe_perso.nameteam %></td>
        <td><%= equipe_perso.nametrainer %></td>
        <td><%= @joueurs.where(estAchete: true).length %></td>
        <td><%= equipe_perso.pays %></td>
        <td><%= equipe_perso.statsgenerale %></td>
        <td><%= equipe_perso.argent %></td>
        <td><%= link_to 'Voir', equipe_perso %></td>
        <td><%= link_to 'Modifier', edit_equipe_perso_path(equipe_perso) %></td>
        <td><%= link_to 'Annuler le contrat', equipe_perso, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Créer une équipe', new_equipe_perso_path, :class => "btn btn-success" %>
