<h1 style="text-align:center; margin-bottom: 40px;">Bienvenue sur l'espace de gestion de ton équipe</h1>
  <% if @equipe_persos.present? %>
    <% @equipe_persos.each do |equipe_perso| %>
      <h1 class="text-center"><%= equipe_perso.nameteam %></h1>

      <a href='<%= equipe_perso_path(equipe_perso.id) %>'><%= image_tag equipe_perso.image.url, :class => "img_equipes_show" %></a>
      <p class="text-center" style="margin-top: 40px;">
        <%= link_to 'Voir en détails', equipe_perso, :class => "btn btn-lg btn-primary" %>
        <%= link_to 'Acheter des joueurs', joueurs_path, :class => "btn btn-lg btn-primary" %>
        <% if !equipe_perso.effectif.nil? && equipe_perso.effectif > 0 %>
            <%= link_to 'Entraînement', entrainer_equipe_perso_path(equipe_perso.id), :class => "btn btn-lg btn-success btn_entrainement" %>
        <% end %>
        <%= link_to 'Modifier', edit_equipe_perso_path(equipe_perso), :class => "btn btn-lg btn-warning" %>
        <%= link_to 'Annuler le contrat', equipe_perso, method: :delete, data: { confirm: 'Êtes-vous sûr d\'annuler le contrat de votre équipe ?' }, :class => "btn btn-lg btn-danger" %>
      </p>
    <% end %>
            
    <br>
  <% else %>
    <%= link_to 'Créer ton équipe', new_equipe_perso_path, :class => "btn btn-success" %>
<% end %>

<a data-toggle="modal" href="#myModal" class="btn btn-primary">Open Modal</a>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4>Header</h4>
            </div>
            <div class="modal-body">
                Modal Content
            </div>
        </div> 
    </div>
</div>