<p id="notice"><%= notice %></p>

<p>
  <h1 class="text-center"><%= @equipe_perso.nameteam %></h1>
</p>

<%= image_tag @equipe_perso.image.url, :class => "img_equipes_show" %>

<p class="text-center">
  <strong>Entraîneur : </strong>
  <%= @equipe_perso.nametrainer %>
  <br>

  <strong>Effectif : </strong>
  <%= @joueurs.where(estAchete: true).length %>
  <br>

  <strong>Pays : </strong>
  <%= @equipe_perso.pays %>
  <br>

  <strong>Statistiques générales : </strong>
  <%= @equipe_perso.statsgenerale %>
  <br>

  <strong>Argent : </strong>
  <%= @equipe_perso.argent %> €
  <br>

  <strong>Date de fondation : </strong>
  <%= @equipe_perso.created_at %>
</p>

<p class="text-center">
<%= link_to 'Acheter des joueurs', joueurs_path, :class => "btn btn-lg btn-primary" %>
<% if !@equipe_perso.effectif.nil? && @equipe_perso.effectif > 0 %>
  <%= link_to 'Entraînement', entrainer_equipe_perso_path(@equipe_perso.id), :class => "btn btn-lg btn-success" %>
<% end %>
<%= link_to 'Modifier', edit_equipe_perso_path(@equipe_perso), :class => "btn btn-lg btn-warning" %>
<%= link_to 'Retour', equipe_persos_path, :class => "btn btn-lg btn-default" %>
<p>

<hr>

<h1 class="text-center" style="margin-bottom: 40px;">Mes joueurs</h1>

<div class="mes-joueurs">

  <div class="row">
    <% @joueurs.each do |joueur| %>
      <% if joueur.estAchete? %>
        <div class="col-lg-3 ">
          <div class="" style="margin: 50px 0 0 0;">
            <a href="<%= joueur_path(joueur.id) %>" class="img_joueurs"><%= image_tag joueur.image.url %></a>
            <p class="text-center"><%= link_to 'VENDRE', vendre_joueur_path(type: joueur), :class => "btn btn-danger btn-lg", data: { confirm: 'Êtes-vous sûr de vouloir vendre ce joueur ? Vous obtiendrez la moitié de sa valeur d\'achat initiale.' } %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

